export(landscape_1d)
export(landscape_2d)
export(landscape)
export(performance)
importFrom(data.table, rbindlist)
importFrom(DMEA, as_gmt)
importFrom(DMEA, rank_corr)
importFrom(DMEA, drugSEA)
import(dplyr)
import(ggplot2)
importFrom(ggrepel, geom_label_repel, geom_text_repel)
importFrom(ggvenn, ggvenn)
importFrom(gridExtra, marrangeGrob)
importFrom(metap, sumlog)
importFrom(sjmisc, str_contains)
importFrom(stats, cor.test, na.omit, sd)
importFrom(testthat, expect_is)